@import "tailwindcss";

:root {
  --background: #efefef;
  --foreground: #2a2a28;
}

body {
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #e4e4e4;
}
::-webkit-scrollbar-thumb {
  background: #b8b8b6;
  border-radius: 3px;
}
